name: build
on: push
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node: [10. 12, 14]
        exclude:
          - os: macos-latest
            node: 10
    steps:
      - name: My first step
        env:
          MY_VAR: Hi there! My name is
          FIRST_NAME: Shane
          MIDDLE_NAME: Patrick
          LAST_NAME: OSullivan
        run: echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME
