name: build
on: pull_request
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest]
        node: [12]
        exclude:
          - os: macos-latest
            node: 10
    steps:
      - name: My first step
        env:
          MY_VAR: Hi there! My name is
          FIRST_NAME: Shane
          MIDDLE_NAME: Patrick
          LAST_NAME: OSullivan
        run: echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME
      - name: my second job
        if: success()
        run: echo "The previous step has finished successfully"
      - name: third step
        uses: actions/checkout@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com
      - name: forth step
        uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Message that will displayed on users first issue"
          pr-message: "Message that will be displayed on users first pr"
